.container
	.col-md-10
		#mapId.mapContainer
	|   
	.col-md-2
		div
			ul
				li(ng-repeat='item in items', ng-click='driverStateClick( item )')
					label
						input(type='checkbox')
						| {{item.name}}{{item.count}}
				