extends layout

block body
  header.vtsHeader
    a.fl.logoWrap(href="/")
      img(src="http://cdn1.taxiforsure.com/v2/img/taxiforsure-logo.png")
  div.phontomHeader
  div(ng-controller='mainController')
    div(ui-view)

  script(src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false')    
  script(src='app/vendor/jquery/jquery.min.js')
  script(src='app/vendor/angular/angular.min.js')
  script(src='app/vendor/angular-resource/angular-resource.min.js')
  script(src='app/vendor/angular-plugins/angular-ui-bootstrap.js')
  script(src='app/vendor/jquey-plugins/jquery.validate.min.js')
  script(src='app/vendor/angular-plugins/angular-ui-router.min.js')
  script(src='app/scripts/common.js')
  script(src='app/scripts/app.js')
  script(src='app/scripts/factories/vtsApi.js')
  script(src='app/scripts/controllers/main.js')
  script(src='app/scripts/controllers/map.js')
  script(src='app/scripts/controllers/login.js')
  
