!!!
html(ng-app="vtsUi")
  head
    meta(charset='utf8')
    base(href='/')
    title VTS UI
    link(rel='stylesheet', href='app/styles/bootstrap.css')
    link(rel='stylesheet', href='app/styles/style.css')
  body
    block body