.container(ng-controller='mapController')
	.col-md-9
		#vtsMapId.mapContainer
	|   
	.col-md-3
		div
			form#driverStatesForm
				div.spin
				ul.driverStateUl
					li.selectAllWrap
						label.curP
							input.driverStateInput.selectAllInput(type='checkbox', ng-model="selectAll", ng-change="onSelectAllChange()")
							| Select All
					li(ng-repeat='item in items')
						label.curP
							img.markerStateIcon(src="{{item.img_url}}")
							input.driverStateInput(type='checkbox', ng-model="item.selected", ng-value="item.state", name="states[]", ng-change="onCheckChange()")
							| {{item.name}}
					